@import "../../../../styles/vars.scss";

.choice-container {
  button{
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &:hover {
    box-shadow: inset 5px 5px 10px #000000, inset -5px -5px 10px blue;
    transition: all 0.5s;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1.25rem solid transparent;
  padding: 0.5rem;
  -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  &--xl {
    width: 125px;
    height: 125px;
  }
  &__image {
    width: 50px;
    height: 50px;
    &--xl {
      width: 75px;
      height: 75px;
    }
  }
}
.rock {
  background: $Rock-Gradient;
  &__abs {
    position: absolute;
    bottom: 0;
    transform: translate(-50%, 25%);
  }
}
.paper {
  background: $Paper-Gradient;
  &__abs {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-25%, -50%);
  }
}
.scissor {
  background: $Scissors-Gradient;
  &__abs {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(25%, -50%);
  }
}
