<section class="modal" (click)="onCloseModal()">
  <div class="modal__container">
    <h2 class="modal__container__rules-header">rules</h2>
    <div>
      <img
        class="modal__container__rules-img"
        src="../../../assets/images/image-rules.svg"
        alt="rules"
      />
    </div>
      <div>
        <img
          class="modal__container__rules-button"
          src="../../../assets/images/icon-close.svg"
          alt="close button"
          (click) = "onCloseModal()"
        />
      </div>
  </div>
</section>
