@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
@import "../src/styles/vars.scss";

    body{
        font-family: 'Barlow Semi Condensed', sans-serif;
    } 

    html,body{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
    height: 100vh;
    background: $BackgroundGradient;
  }