<app-modal (closeModal)="closeModal()" *ngIf="isShowModal"></app-modal>
<div class="game-board-container">
  <app-score></app-score>
  <div *ngIf="!userChoice" class="choices-container">
    <div class="choices-image">
      <app-choices
        *ngFor="let choice of choices"
        [name]="choice.name"
        [img]="choice.img"
        [absPos]="true"
      ></app-choices>
    </div>
  </div>
  <app-result-board *ngIf="userChoice" ></app-result-board>
  <button (click)="openModal()" class="rules-button">Rules</button>
</div>
